@charset "utf-8";
body{font-size:14px; font-family:"微软雅黑";}
/*css-reset*/
html,body,div,ul,ol,li,dl,dt,dd,p,span,em,strong,b,i,h1,h2,h3,h4,form,input,button,textarea,select,option,img,a{ margin:0; padding:0}
ul,ol,dl,dt,dd,p,img{ display:block; border:0}
a{ text-decoration:none; outline:none;font-size:12px; font-family:"宋体"}
a:hover{ text-decoration:underline}
li{ display:block; list-style:none}
textarea{resize: none;outline: none}
input{outline: none;font-size:14px; font-family:"宋体";color:#525662;}
/*clearfix-浮动清理*/
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden }
.clearfix { display:inline-block }
* html .clearfix { height:1% }
.clearfix { display:block}
/*公用浮动*/
.fl{ float:left}
.fr{ float:right}
/*公用禁止点击*/
.disabled{pointer-events: none;cursor: not-allowed;cursor:default;background-color: #e8e8e9 !important; -webkit-filter: grayscale(100%); 
        -moz-filter: grayscale(100%); 
        -ms-filter: grayscale(100%); 
        -o-filter: grayscale(100%); 
        filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);  
        _filter:none;}
input.disabled{background-color: #000;}
/*背景图片*/
.ico{ background-repeat:no-repeat}
.light_blue{background-color: #f4f6fa;}
/*字体颜色*/
.red{ color:#ff0000}
.org{ color:#ffa200}
.gray{ color:#c2c9cf}
.blue{ color:#438ee1}
.orange{color:#ff955b;}
.grey{color: #536379}
.green{color: #009966;}
.light_gray{color:#c9cbcf !important;}
/*隐藏*/
.none{ display:none}
.null{ display:block; overflow:hidden; font-size:0; line-height:0; text-indent:-999px}
/*滚动条*/
.scroll{scrollbar-face-color:#fff;scrollbar-shadow-color:#fff;scrollbar-highlight-color:#ccc;scrollbar-3dlight-color:#fff;scrollbar-arrow-color:#f00;scrollbar-track-color:#fff;}
/*滚动条*/
::-webkit-scrollbar{width:4px;height:10px;background-color: transparent;}
::-webkit-scrollbar-track{background-color:#e9ebf2}
::-webkit-scrollbar-thumb{background:#61aae6; border-radius:6px}
/* ::selection{background-color: transparent;} */