@charset "utf-8";
/*头部------------------------*/
.header{ width:100%;min-width: 1260px; height:60px; background:#63abe7; margin:0 auto;position: fixed; top:0; z-index: 1000;}
.header .rit{float:right !important; margin:20px 0 0 0;line-height: 18px;}
.header .ico{ background-image:url(../img/headico.png);}
.header .logo{ float:left; width:171px; height:49px; margin:5px 0 0 25px; background:url(../img/logo.png) no-repeat}
.header .min{ float:left; padding:20px 0 0;line-height:20px; font-size:12px; font-family:"宋体";}
.header .min a{ font-family:"宋体"; font-size:12px}
.header .light_blue{color: #cae2f7;background: url(../img/email.png) 0 4px no-repeat;padding: 0 0 0 20px;}
.warning{font-size:12px;font-family:"宋体";width: 100%;height: 20px;line-height: 20px;background-color: #edeff5;color:#2d3342;text-align: center;position: absolute;display: none;}
.warning i{background: url(../img/jt.png) 0 0 no-repeat;width:14px;height:14px;display: inline-block;-webkit-background-size: cover;
background-size: cover;margin:0 5px 0  0;position: relative;top: 3px;}
.warning em{width:15px;height: 15px;position: absolute;right: 10px;top: 0px;background:url(../img/dictionary.png) 0 0 no-repeat;background-position: -64px 0;cursor:pointer;}
 /*当日信息*/
.header .min .todaymsg{ color:#022f83; margin:0 0 0 60px;float: left;}
.header .min .todaymsg span{ float:left; margin:0 12px 0 0}
/*当日天气*/
.header .min .weather1{ padding:0 0 0 24px; background:url(../img/weather1.png) left center no-repeat}
/*用户信息*/
.header .usermsg{ color:#FFF;float: left;font-family:"宋体";font-size:12px;}
.header .usermsg a{ color:#FFF; float:left}
.header .usermsg span,
.header .usermsg b{ float:left}
.header .usermsg .name{ padding:0 15px 0 20px;  margin:0 5px 0 0;height: 18px;background-position: 0 0px;background: url(../img/xiala.png) right 3px no-repeat;cursor: pointer;}
.header .usermsg .line{ border-left:1px solid #97c7ee; height:11px; margin:2px 10px 0 0; width:0}
.header .usermsg .loginout{ margin:0 30px 0 0}
.header .usermsg .work{ margin:0 30px 0 0}
.header .usermsg .work em{ font-style:normal; padding:0 0 0 6px}
.header .usermsg .work em.bubble{display:inline-block; width: 20px;height: 16;text-align:center;line-height:16px;background: url(../img/bubble.png) no-repeat;margin:0 0 0 4px;padding: 0;}
.header .usermsg .work .bubble{   /* 后加 */
   			-webkit-animation:shark 0.8s linear 0.1s infinite alternate;
   			-moz-animation:shark 0.8s linear 0.1s infinite alternate;
   			-ms-animation:shark 0.8s linear 0.1s infinite alternate;
   		}
   		@-webkit-keyframes shark{
   			from{
   				opacity: 1;
   			}
   			100%{
   				opacity: 0;
   			}
   		}
   		@-moz-keyframes shark{
   			from{
   				opacity: 1;
   			}
   			100%{
   				opacity: 0;
   			}
   		}  
   		@-ms-keyframes shark{
   			from{
   				opacity: 1;
   			}
   			100%{
   				opacity: 0;
   			}
   		}  

/*页面框架---------------------*/
.pagebox{ min-width:1260px; margin:0 auto; padding:0 0 10px}
/*左侧导航*/
.pagebox .lft{ float:left; width:9.375%; background:#d6d8e1;position: fixed;top: 60px;left: 0;height: 100%;box-shadow: 2px 0px 2px #ccc;z-index: 12;}
.pagebox .lft li{ float:left; width:100%; height:40px;}
.pagebox .lft li a,.pagebox .lft li div{ font-family: "微软雅黑";display:block; width:100%; height:40px; text-align:center; line-height:40px; font-size:14px; color:#6b799f;cursor: pointer;}
.pagebox .lft .on a,
.pagebox .lft li a:hover{ text-decoration:none; color:#ffffff; background:#99c0e4}
.pagebox .lft li ul li a{font-family: "微软雅黑";display:block; width:100%; height:40px; text-align:center; line-height:40px; font-size:12px; color:#6b799f}
.pagebox .lft li div{position: relative;}
.pagebox .lft li div i{position: absolute;width:10px; height: 9px; background: url(../img/select-arr-default.gif) no-repeat -11px -10px; top:15px; left: 15%;}
.pagebox .lft li .hide{background-position:-11px -39px; width:10px; height: 9px;}
.pagebox .lft li ul{width: 100%;margin: 0 auto;background-color: #cbcdd5;display: none;overflow: hidden;} 
/*中部内容*/
.pagebox .min{ float:left; width:71.25%;padding: 10px 0 0 0;margin:70px 0 0 10.505%;}
.pagebox .min h2{ padding:0 0 0 10px; line-height:48px; height:49px; font-size:18px; font-weight:normal; color:#808e9b}
.pagebox .min .tablist{ border-radius:6px; overflow:hidden}
.pagebox .min .tablist .l{ float:left; width:59%; margin:-2px 2px 0 0}
.pagebox .min .tablist .l dl,.pagebox .min .tablist .r dl,.pagebox .rit dl{height:196px;overflow: hidden;}
.pagebox .rit .top{height:173px;overflow: hidden;}
.pagebox .min .tablist .l dl:nth-child(3),.pagebox .rit .tjh_block,.pagebox .min .tablist .r .tool_radius{height:234px;overflow: hidden;}
.Creative_library,.tool_radius,.tjh_block{height:234px;overflow: hidden;}
.pagebox .min .tablist .r{ float:left; width:40%; margin:-2px 0 0}
.pagebox .min .tablist .r_news,.pagebox .min .tablist .r_news dt{border-top-right-radius: 6px;}
.pagebox .min .tablist .ico{ background-image:url(../img/tabico.png)}
.pagebox .min .tablist dl{ width:100%; margin:2px 0 0; background:#FFF;}
.pagebox .min .tablist dt{ height:22px; background:#f9fafc; padding:6px 0 6px 14px}
.pagebox .min .tablist dt h3{ font-weight:normal; height:23px; font-size:14px; line-height:22px; color:#6b799f; padding:0 0 0 24px}
.pagebox .min .tablist dt .t1{ background-position:0 2px}
.pagebox .min .tablist dt .t2{ background-position:0 -25px}
.pagebox .min .tablist dt .t3{ background-position:0 -52px}
.pagebox .min .tablist dt .t4{ background-position:0 -75px}
.pagebox .min .tablist dt .t5{ background-position:0 -100px}
.pagebox .min .tablist dt .t6{ background-position:0 -125px}
.pagebox .min .tablist dd{ padding:0 10px 8px}
.pagebox .min .tablist dd .more{ float:right}
/*右中部分*/
.pagebox .ritmin{ float:left; width:88.5%;margin:70px 0 0 10.505%;}
.pagebox .ritmin h2{ line-height:46px; height:46px; font-size:18px; font-weight:normal; color:#808e9b}
.pagebox .ritmin .breadcrumb{height: 48px;line-height: 44px;font-size:14px; font-weight:normal;}
.pagebox .ritmin .breadcrumb li{float: left;color:#808e9b; }
.pagebox .ritmin .breadcrumb li.bottom_align{padding-top:4px; }
.pagebox .ritmin .breadcrumb li a{color:#808e9b; }
.pagebox .ritmin .breadcrumb li .bcfirst{font-size:18px;line-height:48px; height:49px;}
.pagebox .ritmin .breadcrumb li .active{color:#61aae6}
.pagebox .ritmin .top{ margin:0 0 6px}
.pagebox .ritmin .top .tipslink{ float:left; margin:8px 0 0}
/* .pagebox .ritmin table{ border-radius:6px; margin:0 0 10px}
 */.pagebox .ritmin .tabtable{ margin:0 0 10px}
.pagebox .ritmin .tabtable table{ border-radius:0 10px 10px 10px; margin:0}
/*右侧内容*/
.pagebox .rit{ float:right; width:17.8125%;margin-top: 80px;}
.pagebox .rit .ico{ background-image:url(../img/ritico.png)}
.pagebox .rit .morebox{ overflow:hidden; padding:0px 15px}
.pagebox .rit .morebox .more{ float:right}

/* 车辆限行 */
em{font-style: normal;}
.weather{margin-top: -10px !important;}
/* 帮助说明页面 */
.installation .cn1,.installation .cn2,.installation .cn3,.installation .cn4,.installation .cn5,.installation .cn6{width: 100%;}
.installation .cn1 img,.installation .cn2 img,.installation .cn3 img,.installation .cn4 img,.installation .cn5 img,.installation .cn6 img{width:100%;}
/* 添加二维码 */
.erwm{width: 9.375%;height: 192px;background: url(../img/erwm.gif) 0 0 no-repeat;position: fixed;bottom: 20px;z-index: 13;left:0;-webkit-background-size: 100%;
background-size: 100%;}
.erwm span{width:18px;height:18px;font-size: 0;display: inline-block;float: right;cursor: pointer;}
.erwm a{width:100%;text-align: center;height:120px;position: absolute;bottom: 0;text-decoration: underline;font-size: 0;color: #7f8ba3;}


/** 通用平台定制css **/
.options{
	margin:10px 0;
}
.search-group{
	padding: 9px 14px;
	background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
    /**border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;**/
}
.table-group{
	margin:10px 0 0;
	border: 1px solid #e1e1e8;
    border-radius: 4px;
}
.table tbody tr td{
	height: 40px;
	line-height: 40px;
}